<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="x" default="2" />
    <arg name="y" default="0" />
    <arg name="z" default="0.5" />
    <arg name="roll" default="1.57" />
    <arg name="pitch" default="0.7" />
    <arg name="yaw" default="0.7" />

    <arg name="urdf_robot_file" default="$(find amonitor_gazebo)/urdf/aruco_3.urdf" />
    <arg name="robot_name" default="aruco_3"/>

    <param name="robot_description" command="cat $(arg urdf_robot_file)"/>

    <node name="$(arg robot_name)_urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name) -param robot_description"/>

    <!-- <include file="$(find amonitor_gazebo)/launch/gazebo_spawn.launch"> -->
      <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch"> -->
    <!-- <include>
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="roll" value="$(arg roll)" />
        <arg name="pitch" value="$(arg pitch)" />
        <arg name="yaw" value="$(arg yaw)" />

        <arg name="urdf_robot_file" value="$(arg urdf_robot_file)" />
        <arg name="robot_name" value="$(arg robot_name)" /> -->

        <!-- <param name="robot_description" command="cat $(arg urdf_robot_file)"/>

        <node name="$(arg robot_name)_urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg robot_name) -param robot_description"/> -->


    <!-- </include> -->
</launch>